/* GLOBAL RULES */
@import url('https://fonts.googleapis.com/css2?family=Beth+Ellen&display=swap');

body {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: repeat(1fr);
  grid-template-areas:
    "win-count gameboard-head gameboard-head win-count"
    "wins-grid gameboard gameboard wins-grid"
    "wins-grid gameboard gameboard wins-grid"
    "wins-grid . . wins-grid";
  text-align: center;
  border: 1px solid #003D1A;
}

h2 {
  font-family: 'Beth Ellen', cursive;
  color: #353D2F;
}

/* GAMEBOARD SECTION RULES */
.game-board-section {
  display: flex;
  flex-direction: column;
  background-color: #F4FEC1;
  border-right: 1px solid #003D1A;
  border-left: 1px solid #003D1A;
}

.gameboard-header {
  grid-area: gameboard-head;
  font-size: 30px;
  text-shadow: 1px 1px 1px #000000;
}

img.gameboard-tile,
div.gameboard-tile-div {
  height: 100px;
  width: auto;
  border: 3px solid black;
}

.gameboard {
  background-image: url("https://cdn.pixabay.com/photo/2013/07/12/16/37/cobweb-151265_640.png");
  background-size: 600px auto;
  background-position: center;
  grid-area: gameboard;
  align-self: center;
  display: grid;
  grid-template-rows: 105px 105px 105px;
  grid-template-columns: 105px 105px 105px;
  place-items: center / center;
  place-content: center / center;
  border: none;
}

/* PLAYER SECTION RULES */
.player-section {
  background-color: #D9F9A5;
  padding: 10px;
}

.win-count {
  grid-area: win-count;
  background-color: #D9F9A5;
}

#player-one-wins-grid,
#player-two-wins-grid {
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
}

.miniboard {
  display: grid;
  width: 81px;
  height: 81px;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1px;
  background-color: #F4FEC1;
  border: 1px solid #003D1A;
  margin: 3px;
}

/* IMAGE RULES */
img.player-image {
  height: 75px;
  width: auto;
  padding-top: 20px;
}

img.mini-gameboard-tile {
  height: 25px;
  width: auto;
  border: 1px solid #003D1A;
}
