/* GLOBAL RULES */

body {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: repeat(1fr);
  grid-template-areas:
    "win-count gameboard-head gameboard-head win-count"
    "wins-grid gameboard gameboard wins-grid"
    "wins-grid gameboard gameboard wins-grid"
    "wins-grid . . wins-grid";
  background-color: #F4FEC1;
  text-align: center;
}

h2 {
  font-family: sans-serif;
  color: #353D2F;
}

/* IMAGE RULES */
img.player-image {
  height: 75px;
  width: auto;
}

img.mini-gameboard-tile {
  height: 20px;
  width: auto;
}

/* PLAYER SECTION RULES */
.player-section {
  display: flex;
  flex-direction: column;
  background-color: #D9F9A5;
}

.win-count {
  grid-area: win-count;
  background-color: #D9F9A5;
}

.player-wins-grid {
  grid-area: wins-grid;
  display: flex;
  flex-wrap: wrap;
}

.mini-gameboard {
  display: grid;
  grid-template-rows: 20px 20px 20px;
  grid-template-columns: 20px 20px 20px;
  place-items: center / center;
  place-content: center / center;
  grid-gap: 1px;
  background-color: #F4FEC1;
  border: 1px solid lightslategrey;
  margin: 3px;
}

/* GAMEBOARD SECTION RULES */
.game-board-section {
  display: flex;
  flex-direction: column;
  background-color: #F4FEC1;
}

.gameboard-header {
  grid-area: gameboard-head;
}

img.gameboard-tile {
  height: 100px;
  width: auto;
  border: 2px solid black;
}

.gameboard {
  grid-area: gameboard;
  align-self: center;
  display: grid;
  grid-template-rows: 100px 100px 100px;
  grid-template-columns: 100px 100px 100px;
  place-items: center / center;
  place-content: center / center;
  background-color: #F4FEC1;
  border: none;
}
